body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}
#country-info{
    text-align: left;
}
#bordering-countries{
    text-align: left;
}
h1 {
    color: #333;
}

input {
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 12px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

section {
    margin-top: 20px;
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    width: 80%;
    background-color: #f9f9f9;
}